#but{
  background-color: #3364FF;
  border-radius: 5px;
  color: white;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th{
  background-color: lightslategray;
}
